:root {
  /* BRAND */
  --brand-light: #59b2ff;
  --brand-mid: #3487cf;
  --brand-dark: #1d6fb6;

  /* ACCENT COLORS */
  --purple: #b259ff;
  --fuschia: #ff59f9;
  --pink: #ff598b;
  --orange: #ff8b59;
  --yellow: #ffcd59;
  --lime: #e1ff59;
  --green: #59ff91;
  --cyan: #59fff9;
  --navy: #6a59ff;

  /* FEEDBACK */
  --danger: #ff5959;

  /* INPUT */
  --input-base: #1c1f21;
  --input-stroke: #363b40;
  --input-placeholder: #869198;

  /* SHAPE */
  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2d3136;
  --shape-hover: #383d42;

  /* TEXT */
  --text-body: #c8cdd0;
  --text-heading: #f9f9f9;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}

.logo {
  font-family: "Leckerli One", cursive;
  font-size: 2.5rem;
  font-weight: 400;
}

.heading-md {
  font-family: "Baloo 2", sans-serif;
  font-size: 1.75rem; /* 28px */
  font-weight: bold;
  color: var(--text-heading);
}
.heading-sm {
  font-family: "Baloo 2", sans-serif;
  font-size: 1.125rem;
  font-weight: bold;
  color: var(--text-heading);
}
.body-md {
  color: var(--text-body);
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}
.body-sm {
  color: var(--text-body);
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
}
.body-xs {
  color: var(--text-body);
  font-size: 0.75rem;
  font-family: "Open Sans", sans-serif;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
.gap-1 {
  gap: 1rem;
}
.gap-3 {
  gap: 2rem;
}
.gap-3 {
  gap: 3rem;
}
.separator {
  height: 1px;
  background-color: var(--input-stroke);
}
