.radio-wrapper {
  input {
    all: unset;
  }

  .radio-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    img {
      width: 1rem;
      height: 1rem;
    }
  }
}
